.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

.main::before .star {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    animation: star-shimmer 1.5s linear infinite;
}

@keyframes star-shimmer {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Füge hier weitere .star-Klassen hinzu, um mehr Sterne hinzuzufügen */
.star.star-1 {
    top: 10%;
    left: 10%;
    width: 3px;
    height: 3px;
}
.star.star-2 {
    top: 20%;
    left: 50%;
    width: 2px;
    height: 2px;
}